body{
    margin: 0px;
}
header{
    background-color: #9e2522 ;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      
}

.logo {
    height: 40px;
  }
.button-section{
    display: flex;
    flex-wrap: nowrap;
}
.header-button {
    padding: 8px 16px;
    background-color: #007bff00;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.header-button:hover {
    color: #ffa7a7;
}
.div-1{
    height: 500px;
    background-size: cover;    
    background-position: center; 
    background-repeat: no-repeat;
}
